<!-- Button accesos -->

<button class="btn-custom text-start mt-1" type="button" onclick="toggleVisibility(this,'hiddenDiv2')"><i class="bi bi-signpost-2"></i> Accesos</button>
<div class="collapsible" id="hiddenDiv2">
  <div class="btn-custom ms-1 mb-2">
    <a href="https://lec.produccion.gob.ar/index.html#/dashboard" target="_blank" class="ms-2 text-start"
      style="font-size: 0.9em;"><i class="bi bi-signpost-fill"></i> Sistema LEC</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="http://repsal.trabajo.gob.ar/Empleador" target="_blank" class="ms-2 text-start"
      style="font-size: 0.9em;"><i class="bi bi-signpost-fill"></i> Repsal</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-signpost-fill"></i> Constancia AFIP</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://www.argentina.gob.ar/normativa/nacional/ley-27506-324101" target="_blank" class="ms-2 text-start"
      style="font-size: 0.9em;"><i class="bi bi-signpost-fill"></i> Normativa</a>
  </div>
  <div class="btn-custom ms-1">
    <a href="https://cas.gde.gob.ar/acceso/login/?generateToken=true&generateIDP=true&" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-signpost-fill"></i> GDE</a>
  </div>
</div>
