<!-- Button modelos -->

<button class="btn-custom text-start" type="button" onclick="toggleVisibility(this,'hiddenDiv')"><i class="bi bi-file-earmark-text" ></i> Modelos</button>
<div class="collapsible" id="hiddenDiv">
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1OyhuCIIR2rU8alYyce0fTJVTJcS2i3ivstqBQK1cE0U/edit?usp=sharing"
      target="_blank" class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i>
      Inscripción</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1vH2i2fsIspV_W7eAb4zeyc9kuxsI2erB_69QJVf77IY/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Anual</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1eiCG2DbkciGv5aRpc2gB87Uj9ZNW2T399OI1GtSYJwc/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Bienal</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1mWHrY_gtncoOgH7NemdzVTjFBHOGs7XQUWGGvty8Jag/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Auditoría</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1ULAettC6zG9GTTlCO6QKBvRol2ii7IP1COKfzNHLHDQ/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Auditoría
      Simplificada</a>
  </div>
  <div class="btn-custom ms-1 mb-2">
    <a href="https://docs.google.com/document/d/1oN_ZLrXkmjrNrB9_de_U3vgfTpQwllR19fygnP2siy0/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Baja</a>
  </div>
  <div class="btn-custom ms-1">
    <a href="https://docs.google.com/document/d/19mWJR6bZQWfyPw1XT3xUnclOvivvFt9-wIwOlW8kvjs/edit" target="_blank"
      class="ms-2 text-start" style="font-size: 0.9em;"><i class="bi bi-lightning-charge-fill"></i> Notificación</a>
  </div>
</div>
