<div class="border border-top border-bottom border-secondary-subtle shadow mb-5 w-100 expanded-container">
    <div class="container d-flex gap-3 text-center align-items-center">
        <!-- Contenedor izquierdo -->
        <div class="d-flex flex-column justify-content-center text-start h-100 w-50">
            <h1 style="font-weight: bold; font-size: 4rem">La economía del <span class="text-bg-warning">conocimiento</span> en números</h1>
            <p>dinámicamente actualizados a partir de los cambios en bmo! listos para ser consultados 🔥</p>
        </div>

        <!-- Contenedor derecho -->
        <div class="d-flex flex-column justify-content-center w-50 position-relative p-5 rounded-circle stats-container"
            style="overflow: hidden;">
            <div class="bg-primary-subtle"
                style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #007bff; border-radius: 200%; transform: rotate(45deg); z-index: 1;">
            </div>
            <div style="position: relative; z-index: 2;">
                <div class="mb-4">
                    <h1 class="counter" data-target="920" style="font-weight: bold; font-size: 4rem">0</h1>
                    <p class="align-top">Empresas Inscriptas</p>
                </div>
                <div class="mb-4">
                    <h1 class="counter" data-target="24" style="font-weight: bold; font-size: 4rem">0</h1>
                    <p>Provincias beneficiadas</p>
                </div>
                <div>
                    <h1 class="counter" data-target="67000" style="font-weight: bold; font-size: 4rem">0 </h1>
                    <p>Empleados Promovidos</p>
                </div>
            </div>
        </div>
    </div>
</div>