<nav class="navbar navbar-expand-lg border-bottom p-0" style="background-color: light;"
  id="header-navbar">

  <div class="container d-flex justify-content-between">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand"
      href="https://script.google.com/macros/s/AKfycbzSAmXhzDv1iFwSFNtrC3TyaOg3rxIiwVJJIm-rpfRoJOW5MdUF3_XmdDRV13yHJBZp9A/exec"
      id="main2">
      <img src="https://img.icons8.com/color/40/null/jake--v1.png" alt="Logo" class="" /> bmo <i>webside</i>
    </a>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-2">
        <li class="nav-item">
          <a class="nav-link active" role="button" aria-current="page" id="blbl">Trámites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" id="ModalCierreBienal">Auditorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" id="">Contable</a>
        </li>
        <li class="nav-item" hidden>
          <a class="nav-link" id="dash">Beneficios</a>
        </li>
      </ul>
    </div>

    <form class="input-group w-50" style="background">
      <input type="text" class="form-control" id="buscarRegistro" placeholder=" ">
      <span class="input-group-addon">
      <i class="bi bi-search"></i>
    </span>
      <button class="btn btn-light btm-sm ms-1 border" type="button" onclick=""><i class="bi bi-bell"></i></button>
    </form>

  </div>
</nav> 