<section id="onboarding" class="login" style="font-family: 'Space Mono', monospace;">

  <div class="container-fluid py-5" style="background-color: #f3f4f6;">
    <div class="row justify-content-around">

      <!-- Instrucciones -->
      <div class="align-items-center col-md-5 px-4 mb-4 bg-text-light shadow p-4">

        <div class="text-center border-bottom bg-text-dark border-dark pb-2 mb-3">
          <h2 class="fw-bold">Elige tu Asistente</h2>
        </div>

        <p class="fs-5 lh-lg">
          <span id="typingOB"></span>
        </p>
      </div>

      <!-- Cards de personajes -->
      <div class="col-md-5 p-3 mb-4 rounded">
        <div class="row row-cols-1 row-cols-md-2 g-3 justify-content-center">

          <!-- Card Genérica -->
          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm border-0 rounded-4" style="width: 17rem;">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/50bdb9230580623.68791f2f76514.png" class="card-img-top p-3" alt="..." style="height: 150px; object-fit: contain;">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">El Amigo</h5>
                <p class="card-text text-muted">Fiel, relajado y gracioso... ¡Trabajamos y nos divertimos!</p>
                <a href="#" class="btn btn-outline-primary w-100">Elegíme!</a>
              </div>
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm border-0 rounded-4" style="width: 17rem;">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f6570d230580623.68791f2f76cec.png" class="card-img-top p-3" alt="..." style="height: 150px; object-fit: contain;">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">El Gobernante</h5>
                <p class="card-text text-muted">Exigente, serio y centrado... ¡Nada se le escapa!</p>
                <a href="#" class="btn btn-outline-primary w-100">Elegíme!</a>
              </div>
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm border-0 rounded-4" style="width: 17rem;">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c5f783230580623.68791f2f77fb5.png" class="card-img-top p-3" alt="..." style="height: 150px; object-fit: contain;">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">La Creadora</h5>
                <p class="card-text text-muted">Innovadora, atenta y confiable... ¡Vas a ver el trabajo de otra manera!
                </p>
                <a href="#" class="btn btn-outline-primary w-100">Elegíme!</a>
              </div>
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="card shadow-sm border-0 rounded-4" style="width: 17rem;">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/176282230580623.68791f2f777ef.png" class="card-img-top p-3" alt="..." style="height: 150px; object-fit: contain;">
              <div class="card-body text-center">
                <h5 class="card-title fw-semibold">La Protectora</h5>
                <p class="card-text text-muted">Responsable, amable y formal... ¡Siempre va a estar para ayudarte!</p>
                <a href="#" class="btn btn-outline-primary w-100">Elegíme!</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>